@import url(reset.css);

.navouter{
	height:10vh;
	background-color: blue;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

.navin{
	font: normal 25px Helvetica;
	padding-left: 20px;
}


.news{
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

}

.new{
	font: bold 25px Helvetica;
	width: 330px;
	height: 165px;
	display: flex;
	border: 5px solid black;
}

.new p{
	text-align: center;
	margin: auto;
	padding: 20px;
}

.footerouter{
	height:10vh;
	background-color: blue;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font: normal 25px Helvetica;
}
.footerin{
	padding: 20px;
}

.left, .right{
	display: inline-block;

}
.left{
	font-size: 0px;
}
.right{
	float: right;
}


@media screen and (min-width: 812px){
	.navouter{
		height:10vw;
	}
	.footerouter{
		height: 10vw;
	}
	.news{
		margin: 50px 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		/*justify-content: space-evenly;*/
		gap: 10px;
	}

	.new{
		width: 330px;
		min-height: 120px;
	}

	.left{
	font-size: 25px;
	}


}